<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-css">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/oppertunities" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notification-sec">
  <ion-grid>
    <ion-row>
      
        <ion-col size-xl="6" offset-xl="3">
          <div class="notification-bx">
          <ion-list>
            <ion-item lines="none" *ngFor="let i of data">
              <ion-icon name="ellipse" slot="start" color="primary" style="font-size: 8px;"></ion-icon>
              <ion-label class="notification-label"> {{i.message}} </ion-label>
            </ion-item>
          </ion-list>
        </div>
        </ion-col>
     
    </ion-row>
  </ion-grid>
</ion-content>
