// ion-card {
//     border-left: 5px solid #0bcfc4;
//     border-top: 5px solid #0bcfc4;
//   }
  
//   .logo {
//     display: flex;
//     align-items: center;
//     color:#0bcfc4;
//     justify-content: center;
//     height: 30%;
//     ion-icon {
//       font-size: 8rem;
//     }
//   }
  
//   .label {
//     font-weight: bold;
//     font-size: 16px;
//     color: var(--ion-color-grey);
//     .type {
//       font-size: 14px;
//       color: var(--ion-color-dark);
//       float: right;
//     }
//   }
ion-card {
    box-shadow: none;
    margin: 4% 1%;
    background: var(--ion-color-tertiary);
    border-radius: 20px;
  
    ion-card-content {
      padding: 4%;
      align-items: center;
      display: flex;
      img {
          width: 33vw;
          padding-right: 5%;
      }
    }
  }
  