<ion-content class="login-bg">
  <ion-grid>
    <ion-row *ngIf="!otpdiv">
      <ion-col size-xl="6" offset-xl="3">
        <div class="topHeader">
          <div class="logo">
            <img src="/assets/login.png" class="centerIMG" />
          </div>
          <p class="welcome-b">Welcome Back</p>
          <h3 class="login-header">Login</h3>
          
          <ion-item class="input ion-margin-top" lines="none">
            <ion-label>Mobile No.</ion-label>
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-input type="tel" placeholder="Enter your number" minlength="10" maxlength="10" [(ngModel)]="mobile" (ionChange)="blurMobile($event)"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col class="ion-margin-top ion-no-padding">
              <ion-button expand="block" [disabled]="!mobileCheck" (click)="onNext()" class="login-btn" >Login</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
              <p class="otp-resend">Don't have an account? <span routerLink="/signup"><u>Register Here</u></span></p>
            </ion-col>
          </ion-row>
          
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="otpdiv">
      <ion-col size-xl="6" offset-xl="3">
        <div class="topHeader">
          <div class="logo">
            <img src="/assets/verify.png" class="centerIMG" />
          </div>
          <h4 class="header-otp">We have sent an OTP to your Mobile</h4>
          <h5 class="header-otp-label">Please check your entered mobile.</h5>
          <ion-row text-center>
            <ion-col class="ion-text-center" style="font-size: 28px;">
             <ion-input class="otp-input" #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')" [(ngModel)]="opt1" type="tel">
             </ion-input>
             <ion-input class="otp-input" #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)" [(ngModel)]="opt2" type="tel">
             </ion-input>
             <ion-input class="otp-input" #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)" [(ngModel)]="opt3" type="tel">
             </ion-input>
             <ion-input class="otp-input" #otp4  required maxLength="1" (keyup)="otpController($event,otp5,otp3)" [(ngModel)]="opt4" type="tel">
             </ion-input>
             <ion-input class="otp-input" #otp5  required maxLength="1" (keyup)="otpController($event,'',otp4)" style="display: none;" type="tel">
             </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button type="submit" expand="block" (click)="OTPVerify()">Submit</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" (click)="onResendOTP()">
              <p class="otp-resend">Didn't Receive? <span>Resend OTP</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
              <p class="otp-resend">Back to <span (click)="otpdiv = false"><u>Login</u></span></p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
