<ion-content class="leave-section">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="login-box">

          <p>If you want cancel this job</p>
          <h2 class="login-heading">Please fill cancel reason</h2>
          <ion-list>

            <ion-label position="floating" class="label-request">Fill your reason</ion-label>
            <ion-item class="login-input" lines="none">

              <ion-textarea rows="6" cols="20" placeholder="Fill your reason" row="5"></ion-textarea>
            </ion-item>


            <ion-button shape="round" color="secondary" expand="block">Submit</ion-button>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>